body {
    background-color: purple;
}

* {
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

header {
    font-size: xx-large;
    padding: 3rem;
}

img {
    max-height: 35vh;
    padding-right: 20px;
}

#img1 {
    animation-name: rumble;
    animation-duration: 1s;
}

#img2 {
    height: 150px;
    animation-name: bounceIn;
    animation-duration: 0.5s;
}

#hidden {
    display: none;
}

input {
    margin-top: 10vh;
}

#cloudContainer {
    position: relative;
}

p {
    position: absolute;
    top: 55%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin: 0;
    font-size: x-large;
    bottom: 15%;
}

@keyframes rumble {
    0% {
        transform: rotate(25deg);
    }

    25% {
        transform: rotate(-25deg);
    }

    50% {
        transform: rotate(25deg);
    }

    75% {
        transform: rotate(-25deg);
    }

    100% {
        transform: rotate(0deg);
    }
}

@keyframes bounceIn {
    0% {
        opacity: 0;
        transform: scale(.3);
    }

    100% {
        opacity: 1;
        transform: scale(1);
    }

}